
    /* misc. */
body {
    background-color: gainsboro;
    margin:0;
    padding:0;
}
.gradient {
    background-image: linear-gradient(to right, #333, #39325e, #333);
}

    /* nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    position: sticky;
}
li {
    display: inline-block;
    position: sticky;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.2em;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}


    /* directional */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.myFloatRight {
    float: right;
    margin-left: 2em;
}
.myFloatLeft {
    float: left;
    margin-right: 2em;
}


    /* headings & paragraphs */
h1 {
    font-family: Didot, serif;
    padding: .75em;
    text-align: center;
}
h2 {
    font-family: Didot, serif;
    text-align: center;
    padding: .5em;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-align: justify;
    margin: 2em;
}
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    /* images */

#logo {
    height: 100%;
    width: auto;
    padding: 1em;
}

    /* queries */

